{{yield}}

{{yield}}
<div class="card-content">
<div class="table-responsive">

      {{#each model as |pendingUserList|}}
<div class="row user-list">
<<div class="col-md-4">
{{pendingUserList.name}} {{index}}
</div>
<<div class="col-md-4">
{{pendingUserList.email}}
</div>
<<div class="col-md-3">
{{pendingUserList.contactDetails}}
</div>
<<div class="col-md-1">
<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
</div>
</div>
      {{/each}}
</div>
</div>
